version: '3'
services:
    mysql:
        image: mysql:5.7
        container_name: backend-mysql
        restart: always
        environment:
            MYSQL_DATABASE: backend_db
            MYSQL_USER: backend_user
            MYSQL_PASSWORD: backend_password
            MYSQL_ROOT_PASSWORD: root
        networks:
            web:
                ipv4_address: 172.2.0.6
        ports:
            - "3306:3306"
        expose:
            - 3306
        volumes:
            - "./docker/mariadb/volumes:/var/lib/mysql"

    php-fpm:
        container_name: backend-php
        build:
            context: ./docker/php-fpm
            args:
                - INSTALL_XDEBUG=false
                - XDEBUG_REMOTE_HOST=127.0.0.1
                - XDEBUG_REMOTE_PORT=9000
                - XDEBUG_IDE_KEY=project
                - UID=1001
                - GID=1001
        volumes:
            - symfony:/var/www/symfony
        networks:
            web:
                ipv4_address: 172.2.0.2
        working_dir: /var/www/symfony
        restart: unless-stopped
        expose:
            - "9000"
        depends_on:
            - mysql

    nginx:
        build:
            context: ./docker/nginx
            args:
                - UID=1001
                - GID=1001
        container_name: backend-nginx
        volumes:
            - symfony:/var/www/symfony
        restart: unless-stopped
        networks:
            web:
                ipv4_address: 172.2.0.5
        working_dir: /var/www/symfony
        depends_on:
            - php-fpm
        ports:
            - "80:80"
        expose:
            - 80

    mailer:
        container_name: backend-mailcatcher
        image: schickling/mailcatcher
        ports:
            - "1025:1025"
            - "1080:1080"



networks:
    web:
        external: true

volumes:
    dbvolume:
        driver: local
        driver_opts:
            o: bind
            type: none
            device: /home/sandu/Univer/DAW/Project/backend/docker/mariadb/volume
    symfony:
        driver: local
        driver_opts:
            o: bind
            type: none
            device: /home/sandu/Univer/DAW/Project/backend

#    docker network create --subnet=172.2.0.0/24 --ip-range=172.2.0.0/24 --gateway=172.2.0.1 web

